body {
    background-color: black;
    text-align: center;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;    
}
.header, .top {
    font-weight: normal;
    font-size: 50px;
}

section {
    display: flex;
    justify-content: center;
}

.link {
    font-size: 16px;
    color: aquamarine;
}